h1 {
    color: rgb(228, 228, 228);
}

h2 {
    color: rgb(228, 228, 228);
}

h3 {
    color: rgb(227, 227, 227);
}

h4 {
    color: rgb(229, 229, 229);
}

.button1:hover {
    color: blueviolet;
}


